@charset "UTF-8";


/* main-visual */

.main-visual {
  padding: 120px 0 51px;
  background: url('../img/mainvisual_bg.png')no-repeat top center;
  background-size: cover;
}

.main-visual .sony-txt {
  padding-left: 63px;
}

.main-visual .sony-txt img {
  display: inline-block;
}

.main-visual .ticket-txt {
  width: 435px;
  line-height: 1.3;
  padding: 23px 26px 21px 45px;
  background: #000000;
  color: #B3E15A;
  font-size: 31.67px;
  font-weight: bold;
  text-align: center;
}

.main-visual .date-txt {
  width: 506px;
  margin-top: 11px;
  background: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/* sec01 */

.sec01 .tit-bg {
  background: #C1C1C1;
}

.sec01 .head-ttl {
  line-height: 1.3;
  padding: 13px 0;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 34.66px;
  text-align: center;
}

.sec01 .head-ttl span {
  display: block;
  margin-top: -10px;
  margin-right: -87px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 10px;
  text-align: right;
}

.sec01 .sec-ticket {
  padding: 39px 0 60px;
  background: #000000;
  color: #ffffff;
}

.sec01 .sec-ticket .inner {
  padding: 0 10px;
}

.sec01 .sec-ticket .ticket-gp {
  display: flex;
  justify-content: space-between;
}

.sec01 .sec-ticket .insurance-txt {
  font-size: 25px;
}

.sec01 .sec-ticket .period-gp {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.sec01 .sec-ticket .period-gp .period-list {
  width: 475px;
}

.sec01 .sec-ticket .period-gp .period-list .sub-ttl {
  padding-left: 10px;
  font-size: 16px;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.sec01 .sec-ticket .period-gp .period-list .date-txt {
  font-size: 25px;
}

.sec01 .sec-ticket .period-gp .period-list .date-txt span {
  display: block;
  font-size: 17px;
}

.sec01 .sec-ticket .period-gp .period-list .date-txt span.meter-txt {
  display: inline-block;
  font-size: 18px;
}

.sec01 .sec-ticket .period-gp .period-list .day-txt {
  line-height: 1.3;
  padding-top: 18px;
  font-size: 24px;
}

.sec01 .sec-ticket .period-gp .period-list .day-txt span {
  font-size: 20px;
}

.sec01 .sec-ticket .period-gp .period-list .guideline-txt {
  margin-top: -39px;
  padding: 17px 0 17px 15px;
  border: 1px solid #ffffff;
}

.sec01 .sec-ticket .period-gp .period-list .guideline-txt a {
  display: block;
  position: relative;
  color: #ffffff;
  font-size: 16px;
}

.sec01 .sec-ticket .period-gp .period-list .guideline-txt a:after {
  position: absolute;
  top: 30%;
  right: 29px;
  bottom: 0;
  width: 73px;
  height: 44px;
  background: url(../img/right_arrow.png) no-repeat;
  content: '';
}

/* sec02 */

.sec02 {
  padding-top: 66px;
}

.sec02 .head-ttl {
  line-height: 1.5;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 60.47px;
  text-align: center;
}

.sec02 .head-ttl span {
  display: block;
  font-size: 40.71px;
}

/* sec-banner */

.sec-banner {
  height: 0;
  padding: 5px 0 20px;
  background: #000000;
  opacity: 0;
}

.sec-banner.fixed {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: auto;
  overflow: hidden;
  transition: all .5s ease 0s;
  opacity: 1;
}

.sec-banner .win-txt {
  color: #E65A3C;
  font-size: 31.05px;
  font-weight: bold;
  text-align: center;
}

.sec-banner .bannergp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec-banner .bannergp .img-banner a {
  display: block;
  width: 90%;
}

/* sec03 */

.sec03 .hightlight-txt img {
  width: 100%;
}

.sec03 .head-ttl {
  line-height: 1.3;
  padding-bottom: 30px;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 38.07px;
  text-align: center;
}

.sec03 .bg-gray {
  background: #DCDCDC url(../img/img01.png) no-repeat center;
  background-size: cover;
}

.sec03 .bg-white {
  background: #ffffff;
  background-size: cover;
}

.sec03 .bg-white .special-gp {
  margin-right: 0;
}

.sec03 .bg-white .special-gp .txt-gp {
  float: left;
  margin-right: 32px;
  padding: 33px 0;
}

.sec03 .bg-white .special-gp .img {
  float: right;
}

.sec03 .bg-gray.special03 {
  background: #DCDCDC;
}

.sec03 .bg-gray.special03 .special-gp {
  margin-right: 24px;
}

.sec03 .bg-gray.special03 .special-gp .txt-gp .num-ttl .title-txt hr {
  margin-right: -32px;
}

.sec03 .bg-gray.special03 .special-gp .img {
  float: left;
  width: 48%;
}

.sec03 .bg-gray.special03 .special-gp .txt-gp {
  float: right;
  padding: 35px 0;
}

.sec03 .special-gp {
  float: right;
  margin-right: 70px;
}

.sec03 .special-gp .txt-gp .num-ttl .title-txt hr {
  margin-right: -70px;
}

.sec03 .special-gp .img-left {
  margin-left: -86px;
}

.sec03 .special-gp .special-txt {
  display: block;
  padding-left: 10px;
  font-size: 24.72px;
}

.sec03 .special-gp .txt-gp {
  padding: 66px 0 73px;
}

.sec03 .special-gp .txt-gp .num-ttl {
  line-height: 1.2;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 132px;
}

.sec03 .special-gp .txt-gp .num-ttl .title-txt {
  display: inline-block;
  line-height: 1.6;
  padding-left: 25px;
  font-size: 40px;
}

.sec03 .special-gp .txt-gp p {
  font-size: 16px;
}

.chance-gp {
  padding: 83px 0 118px;
}

.chance-gp .ticket-gp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.chance-gp .ticket-gp.bd-line {
  margin-bottom: 64px;
  padding-bottom: 47px;
  background: url(../img/img_border.png) bottom center no-repeat;
}

.chance-gp .ticket-gp.bd-line.mg-bottom {
  margin-bottom: 20px;
}

.chance-gp .ticket-gp .chance-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.3;
  padding: 10px 103px;
  background: #E65A3C;
  color: #ffffff;
  font-size: 38.87px;
  font-weight: bold;
}

.chance-gp .ticket-gp .ticket-txt {
  line-height: 1.3;
  color: #E65A3C;
  font-size: 43.32px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -2.5px;
}

.chance-gp .apply-txt {
  padding: 18px 0 0 15px;
  font-size: 25px;
}

.chance-gp .insurance-txt {
  padding-bottom: 10px;
  color: #E65A3C;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

/* sec04 */

.sec04 .black-bg {
  padding-bottom: 235px;
  background: #000000;
}

.sec04 .head-ttl {
  position: relative;
  padding: 0 15px;
  background: #ffffff;
  color: #000000;
  font-size: 29.57px;
  text-align: center;
}

.sec04 .head-ttl:after {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 45%;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: '';
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #ffffff;
}

.sec04 .tour-gp {
  display: flex;
  justify-content: space-between;
}

.sec04 .tour-gp .img-left {
  margin-top: -20px;
  padding-left: 90px;
}

.sec04 .tour-gp .txt-right {
  padding-top: 40px;
}

.sec04 .tour-gp .txt-right p {
  padding-top: 20px;
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.sec04 .tour-gp .txt-right p span {
  display: block;
  padding-top: 18px;
  font-size: 16px;
  font-weight: 300;
}

.sec04 .tour-gp .txt-right p span.video-txt {
  padding: 35px 0 5px;
}

.sec04 .dinoscience-gp p {
  padding-top: 18px;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}

.sec04 .dinoscience-gp p span {
  display: block;
  font-size: 13px;
}

.sec04 .dinoscience-gp .img-dino {
  position: relative;
  background: #ACACAC;
}

.sec04 .dinoscience-gp .img-dino .img-tanaka {
  position: absolute;
  top: 74px;
  right: 0;
  left: 0;
  content: '';
}

/* sec05 */

.sec05 {
  padding-top: 53px;
}

.sec05 .detail-gp {
  padding: 0 15px;
}

.sec05 .detail-ttl {
  position: relative;
  padding: 14px 0 14px 25px;
  background: #D8D8D8;
  font-size: 16px;
  cursor: pointer;
}

.sec05 .detailbody-ttl {
  padding: 14px 0 14px 25px;
  background: #D8D8D8;
  font-size: 16px;
  border-top: 1px solid #000000;
}

.sec05 .detail-ttl:after {
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  width: 25px;
  background: url(../img/down_arrow.png)no-repeat right center;
  background-size: 100%;
  content: '';
  transition: all 0.4s ease-in-out;
}

.sec05 .detail-ttl.active::after {
  transform: rotate(-180deg);
}

.sec05 .detail-body p {
  padding: 0 15px 48px 15px;
  font-size: 16px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.sec05 .detail-body p span.txt-bold {
  font-weight: bold;
}

/* sec06 */

.sec06 {
  padding-bottom: 50px;
}

.sec06 .head-ttl {
  padding: 45px 0;
  background: #0D9CFF;
  color: #ffffff;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 43px;
  text-align: center;
}

.sec06 .head-ttl span {
  display: block;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 25px;
}

.sec06 .sub-ttl {
  margin-bottom: 29px;
  padding-top: 25px;
  color: #0D9CFF;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid #0D9CFF;
}

.sec06 .case-gp {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 30px;
  padding-left: 20px;
}

.sec06 .case-gp:last-child {
  padding-bottom: 83px;
}

.sec06 .case-gp .txt-left .title {
  line-height: 1.3;
  color: #FF5B00;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 40px;
}

.sec06 .case-gp .txt-left .title span {
  font-size: 35px;
}

.sec06 .case-gp .txt-left p {
  font-size: 15px;
}

.sec06 .case-gp .title .img-case img {
  margin: 0 0 -25px;
}

.sec06 .anxiety-ttl {
  padding: 50px 0 30px;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 43.31px;
  text-align: center;
}

.sec06 .anxiety-gp {
  display: flex;
  justify-content: center;
}

.sec06 .anxiety-gp .txt-gp .txt01 {
  margin-bottom: -17px;
  padding-bottom: 50px;
  background: url(../img/img_borderblue.png) bottom center no-repeat;
  font-size: 15px;
  text-align: center;
}

.sec06 .anxiety-gp .txt-gp .txt01 span {
  color: #0D9CFF;
  font-weight: bold;
}

.sec06 .anxiety-gp .txt-gp .txt02 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.sec06 .anxiety-gp .txt-gp .img-anxiety {
  position: relative;
  z-index: -1;
}

/* sec07 */

.sec07 .head-ttl {
  padding: 15px 0;
  background: #0D9CFF;
  color: #ffffff;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 36px;
  text-align: center;
}

.sec07 .bg-blue {
  background: url(../img/bg_blue.png) no-repeat;
  background-size: cover;
}

.sec07 .voice-gp {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 30px;
}

.sec07 .voice-gp .txt-gp {
  width: 315px;
}

.sec07 .voice-gp .txt-gp .bg-white {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 13px;
  background: #ffffff;
  min-height: 170px;
}

.sec07 .voice-gp .txt-gp p {
  padding: 35px 0 20px;
  font-size: 15px;
}

.sec07 .voice-gp .txt-gp .img-margin {
  margin-bottom: -28px;
}

.sec07 .voice-gp .txt-gp p span {
  color: #FF5B00;
  font-weight: bold;
}

/* sec08 */

.sec08 {
  padding-top: 70px;
}

.sec08 .head-ttl {
  color: #0D9CFF;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 41px;
  text-align: center;
}

.sec08 .life-txt {
  margin-bottom: -29px;
  font-size: 16px;
  text-align: center;
}

.sec08 .plan-txt {
  position: relative;
  z-index: -1;
}

.sec08 .event-gp {
  margin-top: -5px;
  padding: 30px 0 57px;
  background: #EAEAEA;
}

.sec08 .event-gp .sub-ttl {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 41px;
  text-align: center;
}

.sec08 .event-gp .event-list {
  padding-bottom: 28px;
}

.sec08 .event-gp .event-list:last-child {
  padding-bottom: 0;
}

.sec08 .event-gp p {
  font-size: 16px;
  text-align: center;
}

.sec08 .event-gp p.pd-bottom {
  padding-bottom: 30px;
}

.sec08 .event-gp .img-payment {
  position: relative;
  padding-bottom: 30px;
}

.sec08 .event-gp .img-payment.pd-bottom {
  padding-bottom: 48px;
}

.sec08 .event-gp .img-payment:after {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 27px;
  height: 14px;
  margin: 0 auto;
  background: url(../img/bluedown_arrow.png) no-repeat;
  content: '';
}

.sec08 .tit-bd {
  border-top: 1px solid #000000;
}

.sec08 .tit-bd .title {
  width: 203px;
  margin: -23px auto 0;
  padding: 4px 0;
  background: #000000;
  color: #ffffff;
  font-size: 19px;
  text-align: center;
}

.sec08 table {
  margin: 25px 15px 0;
}

.sec08 table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.sec08 table th {
  width: 13%;
  padding: 0 15px;
  background: #DBDBDB;
  font-size: 18px;
  vertical-align: middle;
}

.sec08 table td {
  padding: 15px 19px;
  font-size: 14px;
}

.sec08 .sony-txt {
  padding-top: 60px;
  font-size: 27.49px;
  font-weight: bold;
  text-align: center;
}

.sec08 .hour-txt {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.sec08 .hour-txt span {
  font-size: 16px;
}

.sec08 .no-txt {
  padding-top: 20px;
  font-size: 10px;
  text-align: right;
}

@media only screen and (min-width: 768px) and (max-width: 1300px) {

  /* sec01 */
  .sec01 .head-ttl span {
    margin-right: 0;
  }

  .sec01 .head-ttl {
    font-size: 30px;
  }

  .sec01 .sec-ticket .insurance-txt {
    font-size: 18px;
  }

  .sec01 .sec-ticket .period-gp .period-list {
    margin-right: 24px;
  }

  .sec01 .sec-ticket .period-gp .period-list:last-child {
    margin-right: 0;
  }

  .sec01 .sec-ticket .period-gp .period-list .date-txt {
    font-size: 20px;
  }

  .sec01 .sec-ticket .period-gp .period-list .day-txt {
    font-size: 15px;
  }

  .sec01 .sec-ticket .period-gp .period-list .guideline-txt a {
    font-size: 11px;
  }

  .sec01 .sec-ticket .period-gp .period-list .date-txt span {
    font-size: 13px;
  }

  .sec01 .sec-ticket .ticket-gp a {
    margin-right: 24px;
  }

  .sec01 .sec-ticket .ticket-gp a:last-child {
    margin-right: 0;
  }

  /* sec02 */

  .sec02 .head-ttl {
    font-size: 42px;
  }

  .sec02 .head-ttl span {
    font-size: 35px;
  }

  /* sec03 */

  .sec03 .special-gp .txt-gp .num-ttl {
    font-size: 75px;
  }

  .sec03 .special-gp .txt-gp .num-ttl {
    font-size: 75px;
  }

  .sec03 .special-gp .txt-gp .num-ttl .title-txt {
    line-height: 1.2;
    font-size: 28px;
  }

  .sec03 .bg-white .special-gp .img {
    width: 50%;
  }

  .sec03 .bg-gray.special03 .special-gp .img {
    width: 42%;
  }

  .sec03 .special-gp {
    margin-right: 0;
  }

  .sec03 .bg-gray.special03 .special-gp {
    margin-right: 0;
  }

  .chance-gp .ticket-gp {
    padding: 0;
  }

  .chance-gp .ticket-gp .chance-txt {
    font-size: 27px;
  }

  .chance-gp .ticket-gp .ticket-txt {
    font-size: 28px;
  }

  .chance-gp .ticket-gp a {
    margin-right: 24px;
  }

  .chance-gp .ticket-gp a:last-child {
    margin-right: 0;
  }

  .chance-gp .apply-txt {
    font-size: 17px;
  }

  .chance-gp .insurance-txt {
    font-size: 35px;
  }


  /* sec04 */

  .sec04 .head-ttl {
    font-size: 22px;
  }

  .sec04 .head-ttl:after {
    top: 35px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 15px solid #ffffff;
  }

  .sec04 .tour-gp .txt-right p {
    font-size: 20px;
  }

  .sec04 .tour-gp .txt-right p span {
    font-size: 13px;
  }

  .sec04 .tour-gp .txt-right p span {
    font-size: 10px;
  }

  .sec04 .tour-gp .img-left {
    width: 43%;
    padding-left: 35px;
  }

  .sec04 .dinoscience-gp .img-dino .img-tanaka img {
    width: 16%;
    margin: 0 auto;
  }

  /* sec05 */

  .sec05 .detail-ttl {
    font-size: 12px;
  }

  .sec05 .detailbody-ttl {
    font-size: 12px;
  }

  .sec05 .detail-body p {
    font-size: 14px;
  }

  /* sec06 */

  .sec06 .head-ttl {
    font-size: 30px;
  }

  .sec06 .head-ttl span {
    font-size: 20px;
  }

  .sec06 .case-gp .txt-left {
    width: 500px;
    margin-right: 24px;
  }

  .sec06 .case-gp .txt-left .title {
    font-size: 24px;
  }

  .sec06 .case-gp .txt-left p {
    font-size: 11px;
  }

  .sec06 .case-gp .txt-left .title span {
    font-size: 20px;
  }

  .sec06 .anxiety-gp .txt-gp .txt01 {
    width: 90%;
    margin: 0 auto;
    background-size: contain;
  }

  /* sec07 */

  .sec07 .voice-gp .txt-gp p {
    font-size: 10px;
  }

  .sec07 .voice-gp .txt-gp .bg-white {
    width: 85%;
    margin: 0 auto;
    min-height: 140px;
  }

  /* sec08 */

  .sec08 .head-ttl {
    font-size: 32px;
  }

  .sec08 table th {
    padding: 0 10px;
    font-size: 14px;
  }

  .sec08 table td {
    padding: 15px 11px;
    font-size: 11px;
  }
}

@media only screen and (max-width:767.9px) {
  /* main-visual */

  .main-visual {
    padding: 82px 0 22px;
    background: url(../img/mainvisualsp_bg.png)no-repeat top center;
    background-size: cover;
  }

  .main-visual .sony-txt {
    padding-left: 0;
    text-align: center;
  }

  .main-visual .ticket-txt {
    width: 42%;
    margin-top: 13px;
    padding: 23px 15px 21px 18px;
    font-size: calc(35 / 750 * 100vw);
    text-align: left;
  }

  .main-visual .date-txt {
    width: 100%;
    line-height: 1.3;
    margin-top: 14px;
    padding: 6px 0;
    font-size: calc(28 / 750 * 100vw);
  }

  /* sec01 */

  .sec01 .head-ttl {
    font-size: calc(25 / 750 * 100vw);
  }

  .sec01 .head-ttl span {
    margin-right: 0;
  }

  .sec01 .sec-ticket {
    padding: 25px 0 40px;
  }

  .sec01 .sec-ticket .inner {
    padding: 0 24px;
  }

  .sec01 .sec-ticket .ticket-gp {
    flex-wrap: wrap;
    justify-content: center;
  }

  .sec01 .sec-ticket .ticket-gp a:first-child {
    margin-bottom: 24px;
  }

  .sec01 .sec-ticket .insurance-txt {
    line-height: 1.3;
    padding-top: 20px;
    font-size: calc(21 / 750 * 100vw);
    text-align: center;
  }

  .sec01 .sec-ticket .period-gp {
    flex-wrap: wrap;
    padding-top: 52px;
  }

  .sec01 .sec-ticket .period-gp .period-list .guideline-txt {
    margin-top: 0;
  }

  .sec01 .sec-ticket .period-gp .period-list .sub-ttl {
    font-size: calc(20 / 750 * 100vw);
  }

  .sec01 .sec-ticket .period-gp .period-list .date-txt {
    line-height: 1.3;
    padding-top: 12px;
    font-size: calc(34 / 750 * 100vw);
  }

  .sec01 .sec-ticket .period-gp .period-list .date-txt span {
    font-size: calc(21 / 750 * 100vw);
  }

  .sec01 .sec-ticket .period-gp .period-list:first-child {
    padding-top: 0;
  }

  .sec01 .sec-ticket .period-gp .period-list {
    width: 100%;
    padding-top: 25px;
  }

  .sec01 .sec-ticket .period-gp {
    padding-top: 25px;
  }

  .sec01 .sec-ticket .period-gp .period-list .day-txt {
    line-height: 1.3;
    padding-top: 12px;
    font-size: calc(31 / 750 * 100vw);
  }

  .sec01 .sec-ticket .period-gp .period-list .day-txt span {
    font-size: calc(25 / 750 * 100vw);
  }

  .sec01 .sec-ticket .period-gp .period-list .date-txt span.meter-txt {
    font-size: calc(22 / 750 * 100vw);
  }

  .sec01 .sec-ticket .period-gp .period-list .guideline-txt a {
    font-size: calc(20 / 750 * 100vw);
  }

  .sec01 .sec-ticket .period-gp .period-list .guideline-txt a:after {
    right: 14px;
  }

  /* sec02 */

  .sec02 {
    padding-top: 72px;
  }

  .sec02 .head-ttl {
    font-size: calc(47 / 750 * 100vw);
  }

  .sec02 .head-ttl span {
    font-size: calc(33 / 750 * 100vw);
  }

  .sec02 .img-mg {
    margin: 0 -24px;
  }

  /* sec-banner */

  .sec-banner {
    padding: 10px 0 13px;
  }

  .sec-banner .win-txt {
    padding-bottom: 10px;
    font-size: calc(30 / 750 * 100vw);
  }

  .sec-banner .bannergp {
    width: 102%;
  }

  .sec-banner .bannergp .img-banner a {
    width: 95%;
  }

  /* sec03 */

  .sec03 .bg-gray {
    background: #DCDCDC;
  }

  .sec03 .head-ttl {
    padding-top: 12px;
    font-size: calc(29 / 750 * 100vw);
  }

  .sec03 .special-gp {
    margin-right: 0;
  }

  .sec03 .special-gp .special-txt {
    font-size: calc(31 / 750 * 100vw);
  }

  .sec03 .special-gp .txt-gp .num-ttl {
    font-size: calc(154 / 750 * 100vw);
  }

  .sec03 .special-gp .txt-gp .num-ttl .title-txt {
    font-size: calc(50 / 750 * 100vw);
  }

  .sec03 .special-gp .txt-gp .num-ttl .title-txt hr {
    margin-right: -24px;
  }

  .sec03 .bg-gray.special03 .special-gp {
    margin-right: 24px;
  }

  .sec03 .bg-gray.special03 .special-gp .txt-gp .num-ttl .title-txt hr {
    margin-right: -24px;
  }

  .sec03 .special-gp .txt-gp p {
    font-size: calc(23 / 750 * 100vw);
  }

  .sec03 .special-gp .img {
    margin: 0 -24px;
  }

  .sec03 .bg-gray.special03 .special-gp .img {
    float: none;
    width: auto;
  }

  .sec03 .bg-white .special-gp .img {
    float: none;
  }

  .sec03 .bg-white {
    background: #ffffff;
  }

  .sec03 .bg-white .special-gp .txt-gp {
    margin-right: 0;
  }

  .sec03 .bg-gray.special03 {
    background: #DCDCDC;
  }

  .sec03 .bg-gray.special03 .special-gp {
    margin-right: 0;
  }

  .sec03 .special-gp {
    float: none;
  }

  .sec03 .bg-gray.special03 .special-gp .txt-gp {
    float: none;
  }

  .sec03 .special-gp .txt-gp {
    padding: 35px 0;
  }


  /* chance-gp */

  .chance-gp {
    padding: 71px 0 70px;
  }

  .chance-gp .ticket-gp {
    flex-wrap: wrap;
    justify-content: center;
  }

  .chance-gp .ticket-gp .chance-txt {
    width: 80%;
    padding: 10px 0;
    font-size: calc(39 / 750 * 100vw);
    text-align: center;
  }

  .chance-gp .ticket-gp .ticket-txt {
    padding-top: 24px;
    font-size: calc(43 / 750 * 100vw);
    letter-spacing: 0;
  }

  .chance-gp .ticket-gp.bd-line {
    margin: 0 -24px 29px;
    padding-bottom: 55px;
  }

  .chance-gp .ticket-gp a {
    padding-bottom: 26px;
  }

  .chance-gp .ticket-gp a:last-child {
    padding-bottom: 0;
  }

  .chance-gp .apply-txt {
    padding: 18px 0 0 0;
    font-size: calc(21 / 750 * 100vw);
    text-align: center;
  }

  .chance-gp .ticket-gp.bd-line.mg-bottom {
    margin: 0 -24px 26px;
  }

  /* sec04 */

  .sec04 .head-ttl {
    margin-bottom: 15px;
    font-size: calc(37 / 750 * 100vw);
  }

  .sec04 .head-ttl:after {
    top: calc(60 / 750 * 100vw);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffff;
  }

  .sec04 .tour-gp {
    flex-wrap: wrap;
    justify-content: center;
  }

  .sec04 .tour-gp .txt-right {
    font-size: calc(37/ 750 * 100vw);
  }

  .sec04 .tour-gp .txt-right p {
    font-size: calc(32/ 750 * 100vw);
  }

  .sec04 .tour-gp .txt-right p span {
    font-size: calc(23/ 750 * 100vw);
  }

  .sec04 .tour-gp .txt-right p span.video-txt {
    padding: 35px 0 25px;
    font-size: calc(19/ 750 * 100vw);
  }

  .sec04 .tour-gp .img-left {
    padding-left: 0;
  }

  .sec04 .dinoscience-gp p {
    font-size: calc(20/ 750 * 100vw);
  }

  .sec04 .dinoscience-gp p span {
    font-size: calc(16/ 750 * 100vw);
  }

  .sec04 .black-bg {
    padding-bottom: 215px;
  }

  /* sec05 */

  .sec05 {
    padding-top: 51px;
  }

  .sec05 .chance-gp .inner {
    margin: 0;
    padding: 0;
  }

  .sec05 .detail-ttl {
    padding: 15px 63px 15px 20px;
    font-size: calc(20/ 750 * 100vw);
  }

  .sec05 .detail-gp {
    margin: 0 -24px;
    padding: 0;
  }

  .sec05 .detail-body p {
    padding: 15px 25px 15px 20px;
    font-size: calc(20/ 750 * 100vw);
  }

  .detail-body.pc {
    display: none;
  }

  /* sec06 */

  .sec06 .head-ttl {
    line-height: 1.5;
    padding: 40px 0;
    font-size: calc(43/ 750 * 100vw);
  }

  .sec06 .head-ttl span {
    padding-top: 10px;
    font-size: calc(23/ 750 * 100vw);
  }

  .sec06 .sub-ttl {
    margin: 0 -24px 21px;
    padding-top: 27px;
    font-size: calc(30/ 750 * 100vw);
  }

  .sec06 .case-gp .txt-left .title {
    font-size: calc(50/ 750 * 100vw);
  }

  .sec06 .case-gp .txt-left .title span {
    font-size: calc(43/ 750 * 100vw);
  }

  .sec06 .case-gp .txt-left p {
    padding: 15px 0 20px;
    font-size: calc(23/ 750 * 100vw);
  }

  .sec06 .case-gp {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 28px;
    padding-left: 0;
  }

  .sec06 .case-gp:last-child {
    padding-bottom: 70px;
  }

  .sec06 .case-gp .img-right {
    margin: 0 -24px;
  }

  .sec06 .case-gp .title .img-case img {
    margin: 0 0 -17px;
  }

  .sec06 .anxiety-ttl {
    line-height: 1.2;
    padding: 48px 0 50px;
    font-size: calc(42/ 750 * 100vw);
  }

  .sec06 .anxiety-gp {
    flex-wrap: wrap;
    justify-content: center;
  }

  .sec06 .anxiety-gp .txt-gp .txt01 {
    padding-bottom: 60px;
    background-size: 100% auto;
    font-size: calc(28/ 750 * 100vw);
  }

  .sec06 .anxiety-gp .txt-gp {
    width: 100%;
  }

  .sec06 .anxiety-gp .txt-gp .img-anxiety {
    margin: 0 -24px;
  }

  .sec06 .anxiety-gp .txt-gp .img-anxiety img {
    width: 100%;
  }

  .sec06 .anxiety-gp .txt-gp .txt02 {
    padding: 12px 0 20px;
    font-size: calc(37/ 750 * 100vw);
  }

  /* sec07 */

  .sec07 .head-ttl {
    font-size: calc(45/ 750 * 100vw);
  }

  .sec07 .voice-gp {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 60px;
  }

  .sec07 .voice-gp .txt-gp {
    width: 100%;
    padding-top: 37px;
  }

  .sec07 .voice-gp .txt-gp:first-child {
    padding-top: 0;
  }

  .sec07 .voice-gp .txt-gp p {
    font-size: calc(30/ 750 * 100vw);
  }

  .sec07 .voice-gp .txt-gp .bg-white {
    min-height: 135px;
  }

  /* sec08 */

  .sec08 {
    padding-top: 45px;
  }

  .sec08 .head-ttl {
    line-height: 1.5;
    padding-bottom: 15px;
    font-size: calc(48/ 750 * 100vw);
  }

  .sec08 .chance-gp .inner {
    margin: 0;
    padding: 0;
  }

  .sec08 .life-txt {
    margin-bottom: -6px;
    font-size: calc(19/ 750 * 100vw);
  }

  .sec08 .event-gp {
    margin: -5px -24px 0;
    padding: 44px 0 60px;
  }

  .sec08 .event-gp .sub-ttl {
    padding-bottom: 20px;
    font-size: calc(40/ 750 * 100vw);
  }

  .sec08 .event-gp p {
    font-size: calc(22/ 750 * 100vw);
  }

  .sec08 .event-gp .img-payment.pd-bottom {
    padding-bottom: 40px;
  }

  .sec08 .tit-bd .title {
    font-size: calc(22/ 750 * 100vw);
  }

  .sec08 table {
    margin: 19px 0 0;
  }

  .sec08 table th {
    width: 28%;
    font-size: calc(20/ 750 * 100vw);
  }

  .sec08 table td {
    padding: 15px;
    font-size: calc(18/ 750 * 100vw);
  }

  .sec08 .tit-bd .title {
    margin: -4% auto 0;
  }

  .sec08 .sony-txt {
    padding-top: 40px;
    font-size: calc(22/ 750 * 100vw);
  }

  .sec08 .hour-txt {
    font-size: calc(20/ 750 * 100vw);
  }

  .sec08 .hour-txt span {
    font-size: calc(15/ 750 * 100vw);
  }

  .sec08 .no-txt {
    padding-top: 35px;
    font-size: calc(15/ 750 * 100vw);
  }

  .sec08 .phno-txt {
    width: 65%;
    margin: 4px auto;
  }
}

/*only IE*/

@media all and (-ms-high-contrast:none) {

  *::-ms-backdrop,
  .chance-gp .ticket-gp .chance-txt {
    padding-top: 22px;
  }

  *::-ms-backdrop,
  .main-visual .date-txt {
    padding-top: 10px;
  }

  *::-ms-backdrop,
  .sec01 .head-ttl {
    padding-top: 22px;
  }
}